<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Projet #3</title>
    <meta name="author" content="Robin Moretti" />
      
    <meta name="description" content="Recueil des créations réalisé par les participants du club, entre le 8 Janviers au 5 février 2019 durants les ateliers du Pang Pang Club." />

    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet"> 
  </head>
  <body class="container">
    <noscript>
      <strong>We're sorry but carte doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app">
      
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
