<template>
  <div 
    class="card d-flex justify-content-center align-items-center" 
    v-on:click="startCounter" 
    :style="{ backgroundColor: 'rgb(' + Math.floor((Math.random() * 100) + 100) + ',' + Math.floor((Math.random() * 100) + 100) + ',' + Math.floor((Math.random() * 100) + 100) + ')', borderColor: 'rgb(' + Math.floor(Math.random() * 255) + ',' + Math.floor(Math.random() * 255) + ',' + Math.floor(Math.random() * 255) + ')' }">
    <h3>{{titre}}</h3>
    <p class="data text-center">
      {{selectedItem}}
    </p>
  </div>
</template>

<script>
export default {
  name: 'Card',
  props: {
    datas: Array,
    titre: String,
  },
  data: function () {
    return {
      selectedItem : null,
      positionCard: 0,
      interval: null,
    }
  },
  mounted: function(){
  },
  methods: {
    changeCard: function(){

      this.positionCard = Math.floor(Math.random() * this.datas.length);
      this.selectedItem = this.datas[this.positionCard];

      var randomSound = this.gringSounds[Math.floor(Math.random() * this.gringSounds.length)]
      var audio = new Audio();
      audio.src = randomSound;
      audio.play();


    }, 
    startCounter(){
      var app = this;
      this.interval = setInterval(function(){
        app.changeCard();
      }.bind(app), 100);

      var timeout = (Math.random() * 5000) + 500;

      setTimeout(function(){
        clearInterval(app.interval);

        var audio = new Audio();
        audio.src = app.winSound;
        audio.play();

      }.bind(app), timeout);
    }
  }
}
</script>


<style scoped>
  .card{
    margin: 1rem;
    height: 250px;
    width: 80%;
    max-width: 150px;
    background-color: white;
    position: relative;
    padding: 1rem;
    border: 2px solid black;
    border-radius: 20px; 
    margin-bottom: 3rem;
  }

  @media (min-width: 500px) {
    .card{
      width: 20% !important;
      margin-bottom: 1rem;
    }
  }

  .data{
    color: black;
    font-size: 1rem;
    font-family: 'rubik';
    font-weight: bold;
    color: white;
    text-shadow: 0px 0px 6px #000000;

    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none;  
  }

  h3{
    font-size: 1.2rem;
    font-family: 'rubik';
    position: absolute;
    bottom: -50px;
          -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
             -khtml-user-select: none; /* Konqueror HTML */
               -moz-user-select: none; /* Firefox */
                -ms-user-select: none; /* Internet Explorer/Edge */
                    user-select: none;  
  }

</style>
