<template>
  <div id="app row">
    <div class="row">
        <div class="col">
          <h1 class="text-center mt-3">Situation et narration</h1>
          <h3 class="text-center">Projets 3 du <b><a href="http://pangpangclub.com">Pang Pang Club</a></b></h3>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 mt-5">
            <p>
                Recueil des créations réalisé par les participants du club, du 8 janvier au 5 février 2019 durant les ateliers du Pang Pang Club. Chaque participant a dû piocher un ensemble de cartes qui constituaient leurs contraintes à respecter pour l'écriture et la création de leur jeu. Vous trouverez plus bas l'archive interactive du jeu de cartes. Cette contrainte nous permet de rapidement trouver un sujet et d'éviter le manque d'inspiration. Nous avons divisé ce jeu de cartes en plusieurs catégories: évènements, temporalité, atmosphère, lieu. Ses différentes catégories nous semblent être les plus caractéristiques d'une narration tout en laissant un espace de liberté suffisant pour l'auteur. Pour la plupart des projets, nous avons utilisé un outil d'écriture à choix multiples <a href="http://twinery.org/">Twine</a>. 
            </p>
        </div>
    </div>


    <div class="row mt-5 pt-5">
        <div class="col col-lg-10 offset-lg-1 mb-5 mb-md-0">
            <div v-for="project in projectsShuffled" class="project row">
                <div class="col-12 col-md-6 col-lg-5 text-container">
                    <h2>{{ project.titre }}</h2>
                    <h3><a :href="project.authorLink">{{ project.author }}</a></h3>
                    <h6>
                        <a :href="project.gameLink">
                            {{project.gameLink}}
                        </a>
                    </h6>
                    <h5>Cartes piochées:</h5>
                    <ul>
                        <li v-for="card in project.cards">
                            {{card}}
                        </li>
                    </ul>
                </div>

                <div class="col-12 col-md-6 mb-5 mb-md-0 col-lg-7 img-container">
                    <a :href="project.gameLink">
                        <img :src="project.image" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>


    <!-- Carte jouable -->
    <div class="card-container flex-row mt-5">
      <div class="col d-flex justify-content-center align-items-center flex-wrap">

        <card :datas="data1" titre="Évènements"></card>
        <card :datas="data2" titre="Temporalité"></card>
        <card :datas="data4" titre="Atmosphere"></card>
        <card :datas="data3" titre="Lieu"></card>
        <card :datas="data5" titre="Chance"></card>

      </div>
    </div>

    <!-- Liste de cartes -->
    <div class="row mt-5">
        <div class="col-md-10 offset-md-1 mt-5">
            <div class="row">
                <div class="col">
                  <h6>*Archive des cartes</h6>  
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h4>Évènements:</h4>
                    <ul>
                        <li>Une proposition étrange</li>
                        <li>Quelqu'un en détresse</li>
                        <li>Un dialogue</li>
                        <li>Une panne</li>
                        <li>Un oubli</li>
                        <li>Un décès</li>
                        <li>Coup de foudre</li>
                        <li>Un amour d’un court instant </li>
                        <li>Une fin inévitable</li>
                        <li>Une rupture inévitable </li>
                        <li>Un débat </li>
                        <li>Trouver un truc plein de valeurs</li>
                        <li>Face à un réactionnaire </li>
                        <li>Vous n’arrivez pas à prendre la paroles mais beaucoup de choses se disent </li>
                        <li>Accident </li>
                        <li>Une vanne gratuite a propos d'une connaissance venant d'un type qui ne le connais pas</li>
                        <li>Discrimination</li>
                        <li>Premières menstruations </li>
                        <li>Première fois</li>
                        <li>Indigestion sortie d'un restaurant</li>
                        <li>Visionnage d'un film bouleversant</li>
                        <li>Rendez-vous collectif pôle-emploi</li>
                        <li>Trébucher et manquer de tomber</li>
                        <li>Une révélation anodine pour les autres mais très puissante pour moi</li>
                        <li>Un sourire</li>
                        <li>Une gifle</li>
                        <li>Arrêter de respirer l'espace d'un instant</li>
                        <li>Une prise de pouvoir</li>
                        <li>Une bonne nouvelle</li>
                        <li>En planifiant la journée de demain</li>
                    </ul>
                </div>
                <div class="col">
                    <h4>Temporalité:</h4>
                    <ul>
                        <li>Souvenirs flous</li>
                        <li>Perte de patience</li>
                        <li>Désespoir</li>
                        <li>Ennui</li>
                        <li>Sentiment de persécution</li>
                        <li>Euphorie générale</li>
                        <li>Joie</li>
                        <li>Plaisir</li>
                        <li>Détente</li>
                        <li>Plus envie de rien</li>
                        <li>Nostalgie</li>
                        <li>Hostilité</li>
                        <li>Satisfaction</li>
                        <li>Effroi</li>
                        <li>Emerveillement</li>
                        <li>Sentiment cocu</li>
                        <li>Fébrile</li>
                        <li>Claustrophobique</li>
                        <li>Polluée</li>
                        <li>Pluvieuse</li>
                        <li>Paresseuse</li>
                        <li>Épanouie</li>
                        <li>Familière</li>
                        <li>Inconfortable / Irritante</li>
                        <li>Pas la bienvenue</li>
                        <li>Apathique</li>
                        <li>Extatique</li>
                        <li>Souffrance</li>
                        <li>Douloureuse</li>
                        <li>Huis clos</li>
                        <li>En admiration </li>
                    </ul>
                </div>
                <div class="col">
                    <h4>Atmosphere:</h4>
                    <ul>
                        <li>Fin de journée</li>
                        <li>Dimanche soir</li>
                        <li>Lundi matin</li>
                        <li>De 23h à 6h</li>
                        <li>Entre 6 et 7 ans</li>
                        <li>À l’aube</li>
                        <li>Au crépuscule </li>
                        <li>A midi</li>
                        <li>Au souper </li>
                        <li>Trop tard</li>
                        <li>Tôt </li>
                        <li>Vraiment trop tôt</li>
                        <li>A une heure pas habituelle.</li>
                        <li>En week-end </li>
                        <li>En vacances </li>
                        <li>En congé maternité/paternité & arret de trav</li>
                        <li>A Noël</li>
                        <li>Au jour de l’an </li>
                        <li>A votre anniversaire</li>
                        <li>Un jour de manifestation générale</li>
                        <li>Un jour de crise </li>
                        <li>Le dernier jour </li>
                        <li>Un jour comme les autres</li>
                        <li>Le mercredi</li>
                        <li>Après la sieste</li>
                        <li>Au réveil ( pas que le matin )</li>
                    </ul>
                </div>
                <div class="col">
                    <h4>Lieu:</h4>
                    <ul>
                        <li>Arrêt de bus</li>
                        <li>Café</li>
                        <li>Salle/file d'attente</li>
                        <li>File/sale d'attente</li>
                        <li>Accoudé à un comptoir</li>
                        <li>Bar</li>
                        <li>Aux toilettes d'un bar</li>
                        <li>Marché (fruits et légumes)</li>
                        <li>En voiture</li>
                        <li>Sur un rond point occupé par les gilets jaunes</li>
                        <li>À l'hôpital</li>
                        <li>Au cimetière</li>
                        <li>Dans un lit qu'on ne reconnait pas</li>
                        <li>Dans un lit qu'on reconnait </li>
                        <li>Sur un réseau social</li>
                        <li>Dans la rue</li>
                        <li>Aux toilettes </li>
                        <li>A table</li>
                        <li>Dans une fête/soirée</li>
                        <li>Dans un lieu de détente</li>
                        <li>Dans un lieu de divertissement</li>
                        <li>Magasin</li>
                        <li>En famille</li>
                        <li>En cour/formation</li>
                        <li>Chez une personne désirée</li>
                        <li>Dans un zoo/cirque</li>
                        <li>En pleine nature</li>
                        <li>Au kebab du coin</li>
                        <li>Dans un transport</li>
                        <li>Dans un transport en commun</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <footer class="row">
        <div class="col text-center mt-5">
            <p><a href="http://pangpangclub.com">Pang Pang Club</a> - Site et Illustration résalisé par Robin Moretti. -- Cartes écris par Robin Moretti, Théo Geodert, Lola Dubus et Leslie Astier</p>
        </div>
    </footer>
  </div>
</template>

<script>
import Card from './components/Card.vue'
export default {
  name: 'app',
  components: {
    Card
  },
  data: function () {
    return {
      data1: [
            "Une proposition étrange",
            "Quelqu'un en détresse",
            "Un dialogue",
            "Une panne",
            "Un oubli",
            "Un décès",
            "Coup de foudre",
            "Un amour d’un court instant ",
            "Une fin inévitable",
            "Une rupture inévitable ",
            "Un débat ",
            "Trouver un truc plein de valeurs",
            "Face à un réactionnaire ",
            "Vous n’arrivez pas à prendre la paroles mais beaucoup de choses se disent ",
            "Accident ",
            "Une vanne gratuite a propos d'une connaissance venant d'un type qui ne le connais pas",
            "Discrimination",
            "Premières menstruations ",
            "Première fois",
            "Indigestion sortie d'un restaurant",
            "Visionnage d'un film bouleversant",
            // "Rendez-vous collectif pôle-emploi",
            "Trébucher et manquer de tomber",
            "Une révélation anodine pour les autres mais très puissante pour moi",
            "Un sourire",
            "Une gifle",
            "Arrêter de respirer l'espace d'un instant",
            "Une prise de pouvoir",
            "Une bonne nouvelle",
            "En planifiant la journée de demain",
      ],
      data4: [
            "Souvenirs flous",
            "Perte de patience",
            "Désespoir",
            "Ennui",
            "Sentiment de persécution",
            "Euphorie générale",
            "Joie",
            "Plaisir",
            "Détente",
            "Plus envie de rien",
            "Nostalgie",
            "Hostilité",
            "Satisfaction",
            "Effroi",
            "Emerveillement",
            "Sentiment cocu",
            "Fébrile",
            "Claustrophobique",
            "Polluée",
            "Pluvieuse",
            "Paresseuse",
            "Épanouie",
            "Familière",
            "Inconfortable / Irritante",
            "Pas la bienvenue",
            "Apathique",
            "Extatique",
            "Souffrance",
            "Douloureuse",
            "Huis clos",
            "En admiration",
      ],
      data2: [
            "Fin de journée",
            "Dimanche soir",
            "Lundi matin",
            "De 23h à 6h",
            "Entre 6 et 7 ans",
            "À l’aube",
            "Au crépuscule ",
            "A midi",
            "Au souper ",
            "Trop tard",
            "Tôt ",
            "Vraiment trop tôt",
            "A une heure pas habituelle.",
            "En week-end ",
            "En vacances ",
            "En congé maternité/paternité & arret de trav",
            "A Noël",
            "Au jour de l’an ",
            "A votre anniversaire",
            "Un jour de manifestation générale",
            "Un jour de crise ",
            "Le dernier jour ",
            "Un jour comme les autres",
            "Le mercredi",
            "Après la sieste",
            "Au réveil ( pas que le matin )",
      ],
      data3: [
            "Arrêt de bus",
            "Café",
            "Salle/file d'attente",
            "File/sale d'attente",
            "Accoudé à un comptoir",
            "Bar",
            "Aux toilettes d'un bar",
            "Marché (fruits et légumes)",
            "En voiture",
            "Sur un rond point occupé par les gilets jaunes",
            "À l'hôpital",
            "Au cimetière",
            "Dans un lit qu'on ne reconnait pas",
            "Dans un lit qu'on reconnait ",
            "Sur un réseau social",
            "Dans la rue",
            "Aux toilettes ",
            "A table",
            "Dans une fête/soirée",
            "Dans un lieu de détente",
            "Dans un lieu de divertissement",
            "Magasin",
            "En famille",
            "En cour/formation",
            "Chez une personne désirée",
            "Dans un zoo/cirque",
            "En pleine nature",
            "Au kebab du coin",
            "Dans un transport",
            "Dans un transport en commun",
      ],
      data5: [
            "Carte ++ ( Pioche une nouvelle carte ) ",
            "Carte ++ ( Pioche une nouvelle carte ) ",
            "Carte ++ ( Pioche une nouvelle carte ) ",
            "Carte ++ ( Pioche une nouvelle carte ) ",
            "Carte ++ ( Pioche une nouvelle carte ) ",
            "Échange ( Pose une carte et repioche une de la même catégorie )",
            "Échange ( Pose une carte et repioche une de la même catégorie )",
            "Échange ( Pose une carte et repioche une de la même catégorie )",
            "Échange ( Pose une carte et repioche une de la même catégorie )",
            "Échange ( Pose une carte et repioche une de la même catégorie )",
            "Vole ( Échange ta carte avec un autre groupe )",
            "Vole ( Échange ta carte avec un autre groupe )",
            "Vole ( Échange ta carte avec un autre groupe )",
            "Vole ( Échange ta carte avec un autre groupe )",
            "Self-reset ( optionnelle )",
            "Shoot-reset ( Choisis quelqu'un puis 'reset' )",
      ],
      projects:[
        {
            titre: 'Six pieds sous terre',
            author: 'Seeya',
            authorLink: '',
            cards: ["une fin inévitable", "au souper", "hostilité", "dans un lit qu'on ne reconnait pas", "cimetiere"],
            image: 'images/4.JPG',
            gameLink: 'https://seeya.itch.io/six-pieds-sous-terre',
        },
        {
            titre: 'Bloody Runner',
            author: 'Pablo et Efraim',
            authorLink: '',
            cards: ["le jour de mon anniversaire", "une personne en detresse", "huis clos", "sur un réseau social"],
            image: 'images/5.JPG',
            gameLink: 'https://oragion.itch.io/bloody-runner',
        },
        {
            titre: 'Cette histoire',
            author: 'Ludmila Postel et Reno Louchart',
            authorLink: '',
            cards: ["manifestation générale", "gifle", "c'est vraiment trop tôt", "détente et arrêt de bus"],
            image: 'images/1.JPG',
            gameLink: 'https://ludpos.itch.io/cest-lhistoire-dun-homme-qui-regarde-la-tl',
        },
        {
            titre: 'Vraiment trop tôt',
            author: 'Théo Geodert',
            authorLink: 'http://theogoedert.com/',
            cards: ["Vraiment trop tôt", "Film bouleversant", "Soirée", "Ennuie"],
            image: 'images/6.JPG',
            gameLink: 'https://goeht.itch.io/vraiment-trop',
        },
        {
            titre: 'Gilet Rouge',
            author: 'Aurélia Nardini',
            authorLink: 'http://www.aurelianardini.com',
            cards: ["rond point un jour de manifestation générale", "gilets jaunes", "premières menstruations", "situation familière"],
            image: 'images/3.JPG',
            gameLink: 'https://t0b0ggan.itch.io/gilet-rouge',
        },
        {
            titre: 'Juste à côté',
            author: 'Robin Moretti',
            authorLink: 'http://robinmoretti.eu',
            cards: ["Coup de foudre", "A une heure pas habituelle", "Désespoir", "Au kebab du coin"],
            image: 'images/7.JPG',
            gameLink: 'http://justeacote.robinmoretti.eu/jour1',
        },
        {
            titre: 'Une soirée comme une autre (USCUA)',
            author: 'Léo Beauvais, Aurélien Delauzun et Karl',
            authorLink: '',
            cards: ["Une rupture inévitable", "un jour comme les autres", "huits clos", "dans une fête ( soirée)", "coup de foudre"],
            image: 'images/2.JPG',
            gameLink: 'http://cardpicker.pangpangclub.com/projets/3/projets/unsoircommelesautres.html',
        },
      ]
    }
  },
  computed: {
        projectsShuffled: function(){
            return this.shuffle(this.projects);
        },
  },
  methods: {
    shuffle: function(a) {
        var j, x, i;
        for (i = a.length - 1; i > 0; i--) {
            j = Math.floor(Math.random() * (i + 1));
            x = a[i];
            a[i] = a[j];
            a[j] = x;
        }
        return a;
    }
  }
}
</script>

<style>
    body{
      background-color: white;
      font-family: 'lora', serif !important;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    #app {
      /*font-family: 'Avenir', Helvetica, Arial, sans-serif;*/
      text-align: center;
      color: white;
      margin-top: 60px;
    }

    ul{
        padding-left: 1rem;
    }
    li{
        list-style-type: circle;
    }

    .project img{
        max-width: 100%;
    }
    .project {
        position: relative;
    }
    a{
        color: black !important;
        text-decoration: underline !important;
    }
    h2{
        font-size: 1.8rem;
    }
    h3 a{
        font-size: 1.5rem;
    }
    h5{
        
    }
    h6{
        
    }
    footer{
        font-size: 0.8rem;
    }
</style>
